.formulario{
    margin-top: 3rem;
}
.formulario_info {
    width: 40%;
}
legend{
    font-size: 16px;
    font-weight: bold;
    line-height: 18.78px;
    margin-bottom: .7rem;
}

.formulario__input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.formulario__input--invalid {
    margin-bottom: 0.5rem;
}

.formulario__input--invalid .input {
    border: 1px solid var(--boton-rojo);
    border-radius: 7px;
}

.formulario__input--invalid .input__label {
    color: var(--boton-rojo);
}

.formulario__input--invalid .input-message-error {
    color: var(--boton-rojo);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
