.boton{
    width: 20%;
}
.articulo_productos{
    margin-bottom: 1.5rem;
}

@media screen and (max-width:480px) {
    .boton{
        width: 35%;
    }
    .articulo_titulo{
        font-size: 1.5rem;
    }
    
}