.head {
    padding: 3rem 7rem 3rem 7rem;
}

.head_contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head_logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.bi-controller {
    font-size: 2.5rem;
    color: var(--fuente-boton);
}

.titulo1 {
    color: var(--fuente-boton);
}


@media screen and (max-width:768px) {
    .head {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .head_logo {
        font-size: 1rem;
    }

    .bi-controller {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    .head {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    
}