.head_contenedor {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.head_logo {
    display: flex;
    width: 30%;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}
.bi-controller {
    font-size: 24px;
    color: #2a7ae4;
}
.titulo1 {
    color: #2a7ae4;
}
.head_search {
    position: relative;
    order: +1;
}
.search_input {
    box-sizing: border-box;
    width: 0;
    height: 35px;
    border-radius: 50px;
    transition: all 0.7s ease-in;
    outline: none;
    border: none;
}
::placeholder {
    color: gray;
}
.search_boton {
    position: absolute;
    right: 0;
    top: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: transparent;
    border-color: transparent;
}
.bi-search {
    font-size: 16px;
    padding: 0.4rem;
    line-height: 25px;
    transition: all 0.7s ease;
    color: black;
    background-color: #fff;
    border-radius: 50%;
}

.head_search:hover .search_input {
    width: 175px;
}
.head_search:hover .bi-search {
    background-color: #2a7ae4;
    color: #fff;
}
.head_search:hover + .login {
    display: none;
}

@media screen and (min-width: 768px) {
    .head_contenedor {
        padding: 16px 32px;
    }
    .head_search {
        order: initial;
        width: 45%;
    }
    .bi-search {
        background-color: var(--background-ceniza-claro);
    }
    .search_input {
        width: 100%;
        background-color: var(--background-ceniza-claro);
    }
    .head_search:hover .search_input {
        width: 100%;
    }
    .head_search:hover + .login {
        display: inline;
    }
}
@media screen and (min-width: 768px) {
    .head_contenedor {
        padding: 16px 64px;
    }

}
