
.login_boton{
    text-decoration: none;
    color: var(--background-azul);
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    color: var(--background-azul);
    border: var(--background-azul) 1px solid;
    transition: all 1s ease-in-out;
}
.login_boton:hover{
    background-color: var(--fuente-boton);
    color: #fff;
}
