

.login_boton{
    padding: 0.3rem 1.2rem;
    transition: all 1s ease;
}
.login_boton{
    color: var(--background-azul);
    border: var(--background-azul) 1px solid;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16.78px;
}
.login_boton:hover{
    background-color: var(--fuente-boton);
    color: #fff;
}


