@media screen and (max-width:768px) {
    .articulos {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .articulo_contenido{
        width: 22%;
    }
    .articulo_contenido:nth-last-child(-n+2) {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .articulos {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .articulo_contenido{
        width: 48%;
    }
    .articulo_contenido:nth-last-child(-n+4) {
        display: none;
    }
}